#flex-container1{
    display: flex;
    flex-wrap: nowrap;
}
#flex-container1 > div{
    background-color: aqua;
    margin: 10px;
    padding: 5px;
    border: black solid 3px;
    border-radius: 5px;
    height: 100px;
    width: 100px;
}

#flex-container2{
    display: flex;
}
#flex-container2 > div{
    background-color: aqua;
    margin: 10px;
    padding: 5px;
    border: black solid 3px;
    border-radius: 5px;
    height: 100px;
    width: 100px;
}
#flex-container2 > #long{
    width: 372px;
}
.flex-container3{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: auto;
}
.flex-container3 > div{
    display: flex;
    background-color: aqua;
    margin: 10px;
    padding: 5px;
    border: black solid 3px;
    border-radius: 5px;
    height: 100px;
    width: 200px;
}
#flex-container3-long{
    display: flex;
    background-color: aqua;
    margin: 10px;
    padding: 5px;
    border: black solid 3px;
    border-radius: 5px;
height: 100px;
width: 400px;
}
