#flex-container1{
    display: flex;
}
#flex-container1 > div{
    background-color: aqua;
    margin: 10px;
    padding: 5px;
    border: black solid 3px;
    border-radius: 5px;
    height: 100px;
    width: 100px;
}

#flex-container2{
    display: flex;
}
#flex-container2 > div{
    background-color: aqua;
    margin: 10px;
    padding: 5px;
    border: black solid 3px;
    border-radius: 5px;
    height: 100px;
    width: 100px;
}
#flex-container2 > #long{
    width: 372px;
}
#flex-container3{
    display: flex;
    flex-wrap: wrap;
}
#flex-container3 > div{
    flex-direction: row;
    background-color: aqua;
    margin: 10px;
    padding: 5px;
    border: black solid 3px;
    border-radius: 5px;
    height: 100px;
    width: 100px;
}
#flex-container3 > div:nth-of-type(3){
    flex:2 ;
}